<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>

    <%- include('./partials/nav.ejs') %>

    <section class='editBox'>
      <div class="editBookForm">
          <form action="/all-books/<%=book.id %>?_method=PUT" method="POST">
            <h1>Edit Book</h1>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                placeholder="title"
                name="title"
                value="<%= book.title %> "
                />
            </div>

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Author</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                placeholder="author"
                name="author"
                value="<%= book.author %> "
                />
            </div>

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
              <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                
                name="price"
                value="<%= book.price %> "
                />
            </div>

            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Image</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                placeholder="http://"
                name="image"
                value="<%= book.image %> "
                />
            </div>
            
            <div class="field is-grouped">
              <div class="control">
                <a class="button is-info" href="/all-books/<%= book.id %> ">Cancel</a>
                <button class="btn btn-primary">Edit Book</button>
              </div>
            </div>
          </form>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>